<div class="dark">
    <div class="py-8 px-4 mx-auto max-w-5xl lg:py-16">
        <h2 class="mb-2 text-xl font-semibold leading-none text-gray-900 md:text-2xl dark:text-white">{{empleado.nombres}} {{empleado.apellidos}}</h2>
        <div *ngIf="contenido; else elseBlock" >
            <div  *ngFor="let vac of vacacionesEmpleado" >
                <div class="bg-slate-800 p-3 text-slate-50 rounded-lg grid grid-cols-3 mt-3">
                    <div class="col-span-2">
                        <h3 class="font-semibold">Lapso de vacaciones</h3>
                        {{fechaFormatoLegible(vac.fechaInicio)}} al {{fechaFormatoLegible(vac.fechaFin)}}
                    </div>
                    <div class="bg-slate-200 text-slate-900 font-semibold text-2xl p-3 rounded-lg text-center" >
                        {{diasDiferencia(vac.fechaInicio,vac.fechaFin)}} Días de vacaciones
                    </div>
                </div>
            </div>
        </div>
        <ng-template #elseBlock>

            <div class="bg-slate-800 p-3 text-slate-50 rounded-lg grid grid-cols-3" >
                No se encontro contenido
            </div>
        </ng-template>
    </div>
</div>